.page-container {
  max-width: 768px;
  overflow: hidden;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

section {
  padding-inline: 1.5rem;
  flex-shrink: 0;
  max-width: 768px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title-row {
  margin-top: 2rem;
}

.nav-row {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.center-svg {
  width: 25%;
  transform: scale(3);
}



.btn-next:hover {
  cursor: pointer;
}

.btn-disabled {
  color: #4B5967 !important;
}
.btn-disabled .btn-next-arrow {
  background-color: #4B5967 !important;
}
.btn-next-svg {
  color: #fff;
}
.btn-next-text {
  color: inherit;
}
.btn-next {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-back-arrow,
.btn-next-arrow {
  display: flex;
  background-color: #00ADEE;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 12px;
}

.btn-back-arrow {
  width: 32px;
  height: 32px;
  padding: 8px;
}

.capsule-button {
  display: block;
  margin-inline: auto;
  height: 3rem;
  border-radius: 1.5rem;
  width: 95%;
  max-width: 400px;

  font-weight: 600;
  font-size: 1rem;
  text-align: center;

  border: 1px solid #F3F3F3;
  background: #FFF;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.15);
}



.button-success {
  border-color: #80ED99 !important;
  background-color: rgba(128, 237, 153, 0.15) !important;
}

input[type=file] {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  transform: scale(3);
  opacity: 0;
}
