/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}
.width-100 {
  width: 100%;
}

body {
  position: fixed;
  font-family: 'Sarabun', sans-serif;
}

h1,
p {
  font-weight: 600;
  text-align: center;
}

h1,
.btn-next-text {
  font-size: 1.5rem;
}

p {
  color: #4B5967;
  font-size: 1rem;
  line-height: 150%;
}

.text {
  font-size: 1rem;
  font-weight: 600;
}

.setup-page-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.title-section,
.nav-section {
  margin-block: 4rem;
}

.action-filler-container {
  display: flex;
  margin: auto;
}

.upload-button {
  overflow: hidden;
  position: relative;
}

.slider-input {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.floating-svg {
  position: absolute;
  z-index: -1;
}

.svg-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
}
.svg-spinner svg {
  width: 64px;
  height: 64px;

  animation: rotate180 0.6s  infinite;
  animation-timing-function: cubic-bezier(0.6, 0.15, 0.4, 0.85);
}

h1,
.text,
.btn-next,
.capsule-button,
.primary-color {
  color: #00ADEE;
}

@keyframes rotate180 {
  from { transform: rotate(0deg) }
  to { transform: rotate(180deg) }
}


/* -- Input range style -- */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ADE0FF;
  border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #00ADEE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
